# Python
__pycache__/
*.py[cod]
*$py.class
.venv*/
env/
venv/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media/*
!/media/gallery/
!/media/gallery/**
/staticfiles/

# Environment variables
.env

# OS
.DS_Store
Thumbs.db

